fastapi==0.115.2
uvicorn==0.31.1
pandas==2.2.3
requests==2.32.3
diskcache==5.6.3
pydantic==2.9.2
pytz==2024.2
python-jose[cryptography]==3.3.0
passlib==1.7.4
pydantic_settings==2.6.0
sqlalchemy==2.0.36
python-multipart==0.0.16
pydantic[email]==2.9.2
python-dotenv==1.0.1
